{% extends "layout.html.twig" %}

{% block title %}NHC Web Interface{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
<div class="panel-group" id="actions" role="tablist" aria-multiselectable="true">
  {% for location in locations %}{% if location.actions  %}<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <a class="panel-title btn-block" role="button" data-toggle="collapse" data-parent="#actions" href="#collapse{{ location.id }}" aria-expanded="false" aria-controls="collapse{{ location.id }}">
          <i class="{{ location.icon|default('fa fa-bars') }}"></i> {{ location.name }}
        </a>
    </div>
    <div id="collapse{{ location.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        {% for action in location.actions %}
          {% include ["components/" ~ action.typeName() ~ "_action.html",
                      "components/switch_action.html" ] with action only %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}{% endfor %}
</div>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block endscript %}<script>
  $(function() {
    $('.js-action').on('click', function(e) {
      e.preventDefault();
      var $button = $(this);

      console.log('Click on ' + $button.attr('href'));

      $.get( $button.attr('href'), function(data) {
        console.log(data);

        if (data.value > 0) {
          $button.removeClass('btn-default');
          $button.addClass('btn-warning');
        }
        else {
          $button.removeClass('btn-warning');
          $button.addClass('btn-default');
        }

        if(data.type == 2) {
          $('.badge', $button).text(data.value);
        }
      } );
      return false;
    });
  });
</script>
{% endblock %}
