<a href="./action/{{ id }}" class="btn {{ state ? 'btn-default':'btn-warning' }} js-action" data-value="{{ value }}" data-state="{{ state }}">
  <i class="{{ icon|default('fa fa-lightbulb-o') }}"></i> {{ name }}
</a>
